/*******************************************RESET
************************************************/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,center{margin:0;padding:0;border:0;outline:0;font-weight:normal;font-style:normal;font-size:100%;font-family:inherit}body{line-height:1}:focus{outline:0}ol,ul{list-style:none}table{border-collapse:collapse;border-spacing:0}blockquote:before,blockquote:after,q:before,q:after{content:""}blockquote,q{quotes:""""}input,textarea{margin:0;padding:0}hr{margin:0;padding:0;border:0;color:#000;background-color:#000;height:1px}
.clearfix:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}.clearfix {display:inline-block;}* html .clearfix {height:1%;}.clearfix {display:block;}

body { font-family:Arial, Helvetica, sans-serif; cursor:default;}


/*****************************************  FACEBOOK
***************************************************/


.wrap { width:830px; margin:0px auto;}
.column_1 { width:100%; display:block;}
.column_2 { width:350px; display:block; float:left;}
.column_3 { width:463px; display:block; float:right;}
.column_4 { width:470px; display:block; float:right; margin-right:30px;}

h1, h2 , h3 , h4 {font-family: 'Lato', sans-serif;}
p { padding-bottom:20px;}

.bases { font-size:9px; text-align:center; padding:30px; line-height:12px; width:770px; margin:-118px auto 0 auto }

ul.navy { display:block; width:80%; margin:0px auto 40px auto;}
ul.navy li a{ position:relative; float:left; width:50%; display:block; text-align:center; padding:20px 0;font-family: 'Lato', sans-serif; color:#fff; text-transform:uppercase; font-weight:900; text-decoration:none; font-size:14px; }

/**** HOME facebook */

#intro .wrap { background:#666666 url(../images/bg01.jpg) no-repeat bottom center; height:1032px;}
#intro h1 { font-weight:900; text-transform:uppercase; font-size:22px; text-align:center; text-shadow:0 1px 0 #ccc; letter-spacing:1px; line-height:35px; margin-bottom:10px;}
#intro h1 span { display:block;font-weight:900; text-transform:uppercase; font-size:45px;}
#intro .logo { text-align:center; padding:40px 0 25px 0;}
#intro .premios { text-align:center;}
a.btn_bases { font-family: 'Lato', sans-serif;display:block; font-weight:900; text-transform:uppercase; font-size:11px; color:#606060; background:#fff; text-decoration:none; padding:10px 15px; width:180px; margin:0px auto;}
a.btn_participar { background:url(../images/btn_participa.png) no-repeat top; width:263px; height:72px; display:block; text-indent:-9999px; margin:25px 0 0 400px }
a.btn_participar:hover { background-position:bottom;}


/**** REGISTRO facebook */

#registro .wrap { background:#a0a0a0 url(../images/bg02.jpg) no-repeat bottom center; height:981px;}
#registro .column_1 { width:500px; float:right;}
#registro h1 { font-weight:900; text-transform:uppercase; font-size:22px; text-align:left; text-shadow:0 1px 0 #ccc; letter-spacing:1px; line-height:35px; margin-bottom:25px;}
#registro h1 span { display:block;font-weight:900; text-transform:uppercase; font-size:35px;}
#registro .logo { text-align:center; padding:40px 0;}
#registro .logo img { width:300px;}
#registro .contenido p {font-family: 'Lato', sans-serif; font-weight:600; line-height:22px; font-size:16px;}
#registro .contenido p strong { font-weight:900;line-height:22px; font-size:18px;}

#registro form { display:block; padding:20px 0 0 120px;}
#registro form label { display:block; height:40px;}
#registro form label span { width:25%; margin-right:10px;font-family: 'Lato', sans-serif; font-weight:800; text-transform:uppercase; font-size:12px; display:block; float:left; padding-top:12px; text-align:right;}
#registro form label input { width:65%; background: url(../images/input.gif) repeat-x; padding:8px 5px; border:solid 1px #fff; border-radius:3px; box-shadow:0 2px 10px #999; display:block; float:right;}
#registro label.cheq { padding:5px 0 0 110px;}
#registro label.cheq input { width:auto; padding:0; float:left;position:relative; float:left;}
#registro label.cheq span { font-size:12px; font-weight:normal; text-transform:none; width:auto; position:relative; float:left; padding:0 0 0 10px;}
#registro form input.btn_enviar { background:url(../images/btn_enviar.png) no-repeat top; width:119px; height:43px; display:block; text-indent:-9999px; float:right; border:0; cursor: pointer; }
#registro form input.btn_enviar:hover { background-position:bottom;}


/**** JUEGO facebook */

#juego .wrap { background:#656565 url(../images/bg03.jpg) no-repeat bottom center; height:1050px;}
#juego .column_1 { width:500px; float:right;}
#juego h1 { font-weight:900; text-transform:uppercase; font-size:18px; text-align:center; text-shadow:0 1px 0 #ccc; letter-spacing:1px; line-height:35px; margin-bottom:40px;}
#juego h1 span { display:block;font-weight:900; text-transform:uppercase; font-size:45px;}
#juego .logo { text-align:center; padding:40px 0;}
#juego .logo img { width:300px;}
#juego .premios { text-align:center;}

#juego .carga { background:url(../images/carga.png) no-repeat; height:283px; margin-bottom:50px; font-size:30px; color:#fff;}
#juego .carga form { padding:160px 0 0 160px;}
#juego .carga form input {background:#fff url(../images/input.gif) repeat-x; padding:15px 0; border:solid 1px #fff; border-radius:3px; box-shadow:0 2px 10px #999; text-align:center;}
#juego .carga form input.btn_cargar { background:url(../images/btn_cargar.png) no-repeat top; width:139px; height:43px; display:block; text-indent:-9999px; margin:30px 0 0 50px; border:0; cursor:pointer; }
#juego .carga form input.btn_cargar:hover { background-position:bottom;}

#juego .pasajeros { width:100px; margin:150px 0 0 177px;}
#juego .pasajeros li a.user { width:35px; height:35px; display:block; position:relative; float:left; margin:5px; border:solid 1px #000; box-shadow:0 1px 3px #999;}
#juego .pasajeros li:first-child  a.user{ margin:5px 29px;}
#juego .pasajeros li a.user img { width:100%;}
#juego .pasajeros li a span { display:none;}
#juego .pasajeros li a:hover {border:solid 1px #fff;}
#juego .pasajeros li a:hover span { background:url(../images/pop_up.png) no-repeat; width:193px; height:74px; display:block; z-index:100; position:absolute; float:left; margin:-130px 0 0 -95px; padding:15px;}
#juego .pasajeros li a:hover span img { float:left; width:64px !important; height:64px; margin-right:10px;}
#juego .pasajeros li a:hover span .name {font-family: 'Lato', sans-serif; color:#666; font-size:11px; text-decoration:none;}
#juego .pasajeros li a:hover span .name strong {font-family: 'Lato', sans-serif; color:#000; font-weight:900; text-decoration:none; margin-bottom:10px; font-size:15px}
#juego .pasajeros li a:hover span .name em { color:#da2c2c}
.propio { border:solid 1px #FC0 !important;  box-shadow:0 1px 20px #000 !important;}

input.error { border:solid 1px #C00 !important; color:#C00;}



/**** POP UP facebook */

#pop .wrap { background:#373737; padding:70px 40px; width:750px;}
#pop .content { background:#e5e5e5 url(../images/pop.jpg) no-repeat; padding:40px 90px;box-shadow:3px 3px 10px #000; position:relative;}
#pop .content h2 { font-size:26px; font-weight:900; margin:40px 0 30px 0; text-transform:uppercase; color:#272727;}
#pop .content h3 { font-size:14px; font-weight:900; margin-bottom:20px; text-transform:uppercase; color:#272727;}
#pop .content p {font-size:12px; padding-bottom:15px;color:#7e7e7e; line-height:16px;}
#pop .content .scroll { height:550px; overflow:scroll; overflow-x:hidden;}
a.close { background:url(../images/close.png) no-repeat; width:58px; height:58px; display:block; position:absolute; right:-25px; margin-top:-75px; text-indent:-9999px;}

#pop .content h2 span { display:block; font-size:16px; font-weight:900; color:#555;}

ul.ranking {}
ul.ranking li { display:block; width:95%; padding:10px; background:#fff; border:solid 1px #fff; box-shadow:2px 5px 10px #999; margin-bottom:10px;background: #e0e0e0;background: -moz-linear-gradient(top, #e0e0e0 0%, #bcbcbc 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0e0e0), color-stop(100%,#bcbcbc));
background: -webkit-linear-gradient(top, #e0e0e0 0%,#bcbcbc 100%);background: -o-linear-gradient(top, #e0e0e0 0%,#bcbcbc 100%);background: -ms-linear-gradient(top, #e0e0e0 0%,#bcbcbc 100%);background: linear-gradient(to bottom, #e0e0e0 0%,#bcbcbc 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#bcbcbc',GradientType=0 ); }
ul.ranking li.win {display:block; width:95%; padding:10px; background:#fff; border:solid 1px #3f3f3f; box-shadow:2px 5px 10px #999; margin-bottom:10px;background: #696969;
background: -moz-linear-gradient(top,  #696969 0%, #3b3b3b 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#696969), color-stop(100%,#3b3b3b));background: -webkit-linear-gradient(top,  #696969 0%,#3b3b3b 100%);background: -o-linear-gradient(top,  #696969 0%,#3b3b3b 100%);background: -ms-linear-gradient(top,  #696969 0%,#3b3b3b 100%);background: linear-gradient(to bottom,  #696969 0%,#3b3b3b 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#696969', endColorstr='#3b3b3b',GradientType=0 );}
ul.ranking li .avatar { width:64px; float:left;}
ul.ranking li .avatar img { width:100%; border:solid 1px #000;}
ul.ranking li .info { width:400px; position:relative; float:left; margin-left:20px; font-size:24px;font-family: 'Lato', sans-serif; color:#000; font-weight:900;}
ul.ranking li .info span { display:block; padding-top:10px;  font-size:14px; color:#666}
ul.ranking li .info span em { color:#da2c2c}
ul.ranking li .posicion { font-size:35px;font-family: 'Lato', sans-serif; color:#000; font-weight:900; float:right; padding:15px 15px 0 0 ; color:#fff; text-shadow:0 -1px 0 #999}
ul.ranking li.win .info { color:#fff;}
ul.ranking li.win .info span { display:block; padding-top:10px;  font-size:14px; color:#ccc}

/********************************************  MOVIL
***************************************************/



@media screen and (max-width: 500px){
	
.wrap { width:100%; margin:0px auto;}
.column_1 { width:100%; display:block; float:none;}
.column_2 { width:100%; display:block; clear:both; float:none;}
.column_3 { width:100%; display:block; clear:both; float:none;}
.column_4 { width:90%; margin:0px auto; float:none;}	

.bases { display:none; }

/**** HOME movil */

#intro .logo img { width:70%}
#intro .premios img { width:95%}
#intro h1 { font-weight:900; text-transform:uppercase; font-size:16px; text-align:center; text-shadow:0 1px 0 #ccc; letter-spacing:1px; line-height:30px; margin-bottom:10px;}
#intro h1 span { display:block;font-weight:900; text-transform:uppercase; font-size:35px;}
a.btn_participar { margin:30px auto 0 auto;}

/**** REGISTRO movil */

#registro .contenido { padding:10px; background:url(../images/overlay1.png); margin-bottom:200px;}
#registro form { display:block; padding:0;}
#registro .logo img { width:70%}


/**** JUEGO movil */

#juego .pasajeros { padding:30px; width:auto; margin:0 0 20px 0 !important;}
#juego .premios img { width:95%}
#juego h1 { margin-bottom:10px;}
#juego .propio { border:solid 1px #FC0 !important;}
#juego .pasajeros li a.user{ margin:7px;}
#juego .pasajeros li:first-child  a.user{ margin:7px !important;}
#juego .carga { background:url(../images/carga.png) no-repeat -110px 0; height:283px; margin-bottom:50px; font-size:30px; color:#fff;}
#juego .carga form { padding:160px 0 0 60px;}

/**** POP UP movil */

#pop .wrap { background:#373737; padding:0; width:100%; padding:20px 0}
#pop .content { background:#e5e5e5 url(../images/pop.jpg) no-repeat; padding:20px 30px !important;box-shadow:3px 3px 10px #000; position:relative; margin:20px;}
#pop .content h2 { font-size:26px; font-weight:900; margin:30px 0 20px 0; text-transform:uppercase; color:#272727;}
#pop .content h3 { font-size:14px; font-weight:900; margin-bottom:20px; text-transform:uppercase; color:#272727;}
#pop .content p {font-size:12px; padding-bottom:15px;color:#7e7e7e; line-height:16px;}
#pop .content .scroll { display:block !important; overflow:visible; height:auto;}
a.close { background:url(../images/close.png) no-repeat; width:58px; height:58px; display:block; position:absolute; right:-10px; margin-top:-55px; text-indent:-9999px;}
#pop .content .imag img { width:100%; text-align:center}



ul.ranking li .avatar { width:30px; float:left;}
ul.ranking li .info { width:150px; position:relative; float:left; margin-left:10px; font-size:14px;font-family: 'Lato', sans-serif; color:#000; font-weight:900;}
ul.ranking li .info span { display:block; padding-top:3px;  font-size:11px; color:#666}
ul.ranking li .posicion { font-size:16px;font-family: 'Lato', sans-serif; color:#000; font-weight:900; float:right; padding:0px 10px 0 0 ; color:#fff; text-shadow:0 -1px 0 #999}
ul.ranking li.win .info span { display:block; padding-top:10px;  font-size:14px; color:#ccc}

}