/*******************************************RESET
************************************************/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,center{margin:0;padding:0;border:0;outline:0;font-weight:normal;font-style:normal;font-size:100%;font-family:inherit}body{line-height:1}:focus{outline:0}ol,ul{list-style:none}table{border-collapse:collapse;border-spacing:0}blockquote:before,blockquote:after,q:before,q:after{content:""}blockquote,q{quotes:""""}input,textarea{margin:0;padding:0}hr{margin:0;padding:0;border:0;color:#000;background-color:#000;height:1px}
.clearfix:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}.clearfix {display:inline-block;}* html .clearfix {height:1%;}.clearfix {display:block;}

body { font-family:Arial, Helvetica, sans-serif; cursor:default;}


/*****************************************  FACEBOOK
***************************************************/

.wrap { max-width:830px; margin:0px auto;}
body.registro .wrap { background:url(../images/bg_registro.jpg) no-repeat top center; min-height:647px;}
body.pregame .wrap { background:url(../images/pregame.jpg) no-repeat top center; min-height:983px;}
body.game .wrap { background:url(../images/bg_avion.jpg) no-repeat top center; min-height:983px;}

.footer {max-width:790px; margin:0px auto; background:#cfcfcf; padding:20px 20px 0 20px; text-align:center; overflow:hidden; }
.footer p { font-size:9px; line-height:12px; padding-bottom:20px;}

.registro form { width:230px; position:absolute; float:left; margin:280px 0 0 400px;}
.registro form label { display:block; margin-bottom:10px;}
.registro form label input { width:95%; background:#fff url(../images/input_registro.gif) repeat-x top;border:solid 1px #fff; border-radius:3px; padding:10px 5px; box-shadow:0 5px 10px #222;}
.registro form label.bases { margin-bottom:20px;}
.registro form label.bases input { width:auto; padding:0 !important; border:none !important;}
.registro form label.bases a { font-size:11px; color:#fff;}
.registro form .btn_registrar { background:url(../images/btn_enviar.png) no-repeat; width:175px; height:51px; text-indent:-9999px; display:block; border: none; cursor: pointer;}

.pregame a.btn_continuar { float:right; margin:40px 10px 0 0;}
.pregame a.btn_transparent { width:100%; height:983px; display:block;}

.game .cargar { background:url(../images/bg_carga.png) no-repeat top; width:370px; height:265px; float:left; position: absolute; margin:230px 0 0 0}
.game .cargar form { position:absolute; float:left; margin:130px 0 0 130px}
.game .cargar form label { margin-right:5px; font-size:18px; color:#fff;}
.game .cargar form input {background:#fff url(../images/input_registro.gif) repeat-x top;border:solid 1px #fff; border-radius:3px; padding:8px 0; box-shadow:0 5px 10px #222; text-align:center}
.game .cargar form .btn_ingresar { background:url(../images/btn_ingresar.png) no-repeat top; width:119px; height:30px; display:block; text-indent:-9999px; margin:10px 0 0 75px; border: none; cursor: pointer;}

.game .tips { position:absolute; float:left; margin:500px 0 0 25px; width:290px;}
.game .tips .logo { float:left;}
.game .tips .burbuja { width:209px; float:right;}
.game .tips .burbuja .top { background:url(../images/tips_01.png); height:33px;}
.game .tips .burbuja .cont { background:url(../images/tips_02.png); height:33px; font-size:11px; font-family:Tahoma, Geneva, sans-serif; color:#333; padding:0 5px 0 20px; line-height:14px;}
.game .tips .burbuja .bottom { background:url(../images/tips_03.png); height:12px;}

.game .share { position:absolute; float:left; margin:600px 0 0 25px; background:url(../images/share.png) no-repeat; width:210px; height:107px; padding:15px 0 0 105px;}

.game .asientos { width:290px; position:absolute; float: right; margin:200px 0 0 422px;}
.game .asientos .participante { width:38px; height:38px; overflow:hidden; border-radius:3px;position:absolute; float:left;}
.game .asientos .participante img { width:100%; }


.game .asientos .p_1 { margin:67px 0 0 78px;}

.game .asientos .p_2 { margin:169px 0 0 29px;}
.game .asientos .p_3 { margin:169px 0 0 128px;}

.game .asientos .p_4 { margin:234px 0 0 -24px;}
.game .asientos .p_5 { margin:234px 0 0 29px;}
.game .asientos .p_6 { margin:234px 0 0 128px;}
.game .asientos .p_7 { margin:234px 0 0 180px;}

.game .asientos .p_8 { margin:337px 0 0 -24px;}
.game .asientos .p_9 { margin:337px 0 0 29px;}
.game .asientos .p_10 { margin:337px 0 0 128px;}
.game .asientos .p_11 { margin:337px 0 0 180px;}

.game .asientos .p_12 { margin:405px 0 0 -24px;}
.game .asientos .p_13 { margin:405px 0 0 29px;}
.game .asientos .p_14 { margin:405px 0 0 128px;}
.game .asientos .p_15 { margin:405px 0 0 180px;}

.game .asientos .p_16 { margin:474px 0 0 -24px;}
.game .asientos .p_17 { margin:474px 0 0 29px;}
.game .asientos .p_18 { margin:474px 0 0 128px;}
.game .asientos .p_19 { margin:474px 0 0 180px;}

.game .asientos .p_20 { margin:542px 0 0 -24px;}
.game .asientos .p_21 { margin:542px 0 0 29px;}
.game .asientos .p_22 { margin:542px 0 0 128px;}
.game .asientos .p_23 { margin:542px 0 0 180px;}

.game .asientos .p_24 { margin:606px 0 0 -24px;}
.game .asientos .p_25 { margin:606px 0 0 29px;}
.game .asientos .p_26 { margin:606px 0 0 128px;}
.game .asientos .p_27 { margin:606px 0 0 180px;}

.game .asientos .p_28 { margin:673px 0 0 -24px;}
.game .asientos .p_29 { margin:673px 0 0 29px;}
.game .asientos .p_30 { margin:673px 0 0 128px;}
.game .asientos .p_31 { margin:673px 0 0 180px;}

.game .asientos span.belt { background:url(../images/belt.png) no-repeat top; width:51px; height:39px; position:absolute; float:left; margin:0 0 0 -6px}

.game .salientes { width:220px; position:absolute; float:left; margin:830px 0 0 170px}
.game .salientes .saliente { background:url(../images/paracaidas.png) no-repeat; width:51px; height:63px; padding:63px 0 0 5px; position:relative; float:left; margin-right:5px;}
.game .salientes .participante { width:38px; height:38px; overflow:hidden; border-radius:3px;position:absolute; float:left;}
.game .salientes .participante img { width:100%; }

.overlay { position:absolute; float:left; width:100%; height:100%; background:url(../images/overlay.png); z-index:1000;}
.overlay .cont { padding:30px; background:#e8e8e8; width:500px; margin:80px auto; box-shadow:0 5px 10px #111;}
.overlay .cont a.btn_close { background:url(../images/close.png) no-repeat; width:58px; height:58px; display:block; text-indent:-9999px; position: absolute; float:left; margin:-58px 0 0 500px;}
.overlay .cont .icono { width:120px; float:left;}
.overlay .cont .texto { width:370px; float:right;}
.overlay .cont .texto h1 { font-weight: 900; color:#000; font-size:30px; margin-bottom:10px; text-transform:uppercase;font-family: 'Lato', sans-serif;}
.overlay .cont .texto p { font-family:Tahoma, Geneva, sans-serif; font-size:13px; line-height:17px; color:#333;}
.overlay .cont .texto p strong { font-weight:bold;}
.overlay .cont .texto p a { color:#000;}

input.error { border:solid 2px #C00 !important; color:#C00;}
.popup { display: none; }
